# psinode configuration
listen              = https://0.0.0.0:8080
listen              = http://0.0.0.0:8079
p2p                 = off
producer            = myproducer
host                = psibase.127.0.0.1.sslip.io
service             = localhost:
service             = localhost:$PSIBASE_DATADIR/services/admin-sys
service             = 127.0.0.1:$PSIBASE_DATADIR/services/admin-sys
service             = [::1]:$PSIBASE_DATADIR/services/admin-sys
service             = admin-sys.:$PSIBASE_DATADIR/services/admin-sys

admin               = static:*
database-cache-size = 256MiB
tls-cert            = /root/certs/psibase.127.0.0.1.sslip.io+1.pem
tls-key             = /root/certs/psibase.127.0.0.1.sslip.io+1-key.pem

admin-authz = r:any
admin-authz = rw:ip:$HOST_IP
admin-authz = rw:loopback

[logger.stderr]
type   = console
filter = Severity >= info
format = [{TimeStamp}] [{Severity}]{?: [{RemoteEndpoint}]}: {Message}{?: {BlockId}}{?RequestMethod:: {RequestMethod} {RequestHost}{RequestTarget}{?: {ResponseStatus}{?: {ResponseBytes}}}}{?: {ResponseTime} µs}

# Log all HTTP reqests to a separate file
[logger.http]
type         = file
filter       = ResponseStatus
format       = [{TimeStamp}] [{RemoteEndpoint}]: {RequestHost}: {RequestMethod} {RequestTarget}{?: {ResponseStatus}{?: {ResponseBytes}}}
filename     = http.log
target       = http-%3N.log
rotationSize = 64 MiB
rotationTime = R/2022-10-01T00:00:00Z/P1D
maxFiles     = 10
flush        = on
